

<header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</header>

<body>
    {% comment %} 부트스트랩을 활용하여 손쉽게 만들기 {% endcomment %}
    <div class="container">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">로그아웃</a>
        {% else %}
        <a href="{% url 'signup' %}"><button type="button" class="btn btn-primary">회원가입</button></a>
        <a href="{% url 'login' %}"><button type="button" class="btn btn-primary">로그인</button></a>
        {% endif %}
        {% if user.is_authenticated %}
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col" style="width:20%">Date</th>
                </tr>
            </thead>

            <tbody>
            {% comment %} 파이썬 문법을 사용해주기 위해서는 {% %} 기호 사용 {% endcomment %}
            {% comment %} for 문 반복문을 통해 view 에서 넘겨준 객체를 사용한다 {% endcomment %}
            {% for blog in blogs.all %}
                <tr>
                {% comment %} 객체 안의 데이터에 접근하기 위해서는 '.' 을 활용한다 {% endcomment %}
                <th scope="row">{{blog.id}}</th>
                <td><a href="{%url 'detail' blog.id%}">{{blog.title}}</a></td>
                <td>{{blog.pub_date}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
		<a href="{% url 'new' %}"><button type="button" class="btn btn-primary">글쓰기</button></a>
        {% endif %}
    </div>
<body>